PORT=3010
mongodb_url=mongodb://amani:1234@ac-aoywxa3-shard-00-00.sbeludz.mongodb.net:27017,ac-aoywxa3-shard-00-01.sbeludz.mongodb.net:27017,ac-aoywxa3-shard-00-02.sbeludz.mongodb.net:27017/?ssl=true&replicaSet=atlas-xs85kn-shard-0&authSource=admin&retryWrites=true&w=majority